@CHARSET "UTF-8";
.header {
	height: 90px;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #000;
}

.header ul {
	margin-top: 40px;
	margin-left: 10px;
	padding: 0;
	float: left;
}

.header ul li {
	display: inline-block;
	vertical-align: bottom;
}

.inner_search {
	width: 232px;
	height: 30px;
	float: left;
	border-radius: 15px;
	overflow: hidden;
	background: rgba(255, 255, 255, .2);
	margin-top: 50px;
	margin-left: 400px
}

.inner_search input {
	width: 168px;
	margin-top: 5px; height : 20px;
	padding: 5px;
	padding-left: 15px;
	border: 0;
	float: left;
	color: #fff;
	background: transparent;
	height: 20px;
}

.inner_search .search_btn {
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	float: right;
	cursor: pointer;
}

.header .login {
	float: right;
	margin-top: 60px;
	margin-right: 50px;
}

.header .login .inner_login {
	color: white;
	padding-right: 5px;
}

.header .login .inner_logout {
	color: white;
}
.header .menu{
	float: right;
	margin-top: 60px;
	margin-right: 50px;
}
.header .menu a{
	padding-right: 5px;
	display: inline-block;
	vertical-align: bottom;
}
.header .menu img{
	display: inline-block;
	vertical-align: bottom;
}
a{
 	text-decoration: none;
 	color: white;
 }

.footer{
	background-color: #000;
	height: 100px;
	color: white;
	text-align: center;
}